# Environment variables
.env
.env.local
.env.production

# Chroma DB
chroma_db/

# Virtual environment
rag-env/

# Document files
source_documents/DocTest1.pdf
source_documents/DocTest2.pdf

# OS
.DS_Store